.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:50px ;
    grid-column-gap:50px ;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.end{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:50px ;
    grid-column-gap:50px ;
    background-color: rgba(235, 123, 58, 0.671);
    padding: 10px;
    
}
.one{
    border-right:3px solid palevioletred;
}
